Wee!

<div id="user_first_name">
  <%= simple_cell[:user].first_name %>
</div>
<div id="user_last_name">
  <%= simple_cell[:user].last_name %>
</div>
<div id="translation_test">
  <%= t(".translation_test") %>
</div>
